<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Indy Agent</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/res/sovrin.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img id="nav-icon" src="/res/ICON.png" width="50px" height="50px">
          <a class="navbar-brand" href="/">Sovrin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Credentials<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">

        <!-- credentials page -->
        <div id="credentials" class="tab" style="display:none;">
            <p>My Credentials</p>
        </div>

        <!-- wallet create page -->
        <div id="login" class="tab" style="display:none;">
            <form class="form-signin">
                <h2 class="form-signin-heading">Wallet Credentials</h2>
                <label for="inputEmail" class="sr-only">Wallet Name</label>
                <input id="agent_name" type="text" name="name" id="inputEmail" class="form-control" placeholder="Enter your name" required autofocus>
                <label for="inputPassword" class="sr-only">Passphrase</label>
                <input id="passphrase" type="password" name="passphrase" id="inputPassword" class="form-control" placeholder="Passphrase" required>
                <button id="agent_init" class="btn btn-lg btn-primary btn-block" type="button">Open and Create</button>
            </form>
        </div>

        <!-- relationships page -->
        <div id="relationships" class="tab" >
            <!-- Modal -->
            <div class="modal fade" id="send_req_modal" tabindex="-1" role="dialog" aria-labelledby="send_req_modal_label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="send_req_modal_label">Send Connection Offer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <p>This Connection Offer is sent "out-of-band" to it's destination meaning it is not sent through Sovrin.
                                In the real world, this offer would be sent through a previously established and trusted method;
                                for example, a QR code, text message, university communications, etc.
                                </p>
                                <div class="form-group">
                                    <label for="send_name">Connection Name</label>
                                    <input type="text" class="form-control" id="send_name" aria-describedby="emailHelp" placeholder="Name">
                                    <small id="emailHelp" class="form-text text-muted">This will name will be used to identify the connection.</small>
                                </div>
                                <div class="form-group">
                                    <label for="send_endpoint">Endpoint</label>
                                    <input type="text" class="form-control" id="send_endpoint" placeholder="Endpoint">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="send_offer" type="button" class="btn btn-primary" data-dismiss="modal">Send Offer</button>
                        </div>
                    </div>
                </div>
            </div>
            <h3 id="agent_name_header"></h3>
            <div id='wrapper' class="row">
                <div class="col-3">
                    <div id='connections-wrapper'></div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#send_req_modal">
                        Send Connection Offer
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script id="pending_connection-template" type="text/x-handlebars-template">
    <div class='list-group-item d-flex align-items-center disabled' id='{{ name }}_pending'>
      <span class='circle yellow'></span>
      <button id="{{ name }}_reject" type="button" class="btn btn-danger">Reject</button>
      <p class='name'>Requested</p>
      <p class='name'>{{ name }}</p>
    </div>
    </script>
    <script id="received_connection-template" type="text/x-handlebars-template">
    <div class='list-group-item d-flex align-items-center disabled' id='{{ name }}_received'>
      <span class='circle orange'></span>
      <button id="{{ name }}_accept" type="button" class="btn btn-success">Connect</button>
      <button id="{{ name }}_reject" type="button" class="btn btn-danger">Reject</button>
      <p class='name'>Request</p>
      <p class='name'>{{ name }}</p>
    </div>
    </script>
    <script id="connection-template" type="text/x-handlebars-template">
    <div class='list-group-item d-flex align-items-center disabled' id='{{ name }}_connection'>
      <span class='circle green'></span>
      <button id="{{ name }}_reject" type="button" class="btn btn-danger">Reject</button>
      <p class='name'>Established</p>
      <p class='name'>{{ name }}</p>
    </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="/res/indy-agent.js"></script>
    <script src="/res/utils.js"></script>

  </body>
</html>
