<div id="credentials" class="tab" style="display:none;">
    <div class="center w3-padding">
        <%for(let credential of credentials) {%>
        <div class="w3-card w3-container" >
            <p>My Credential: </p>
            <p>Some Data</p>
            <p>Some More Data</p>
        </div>
        <%}%>
    </div>
    <button onclick="document.getElementById('sendCredModel').style.display='block'" class="w3-btn w3-white w3-border">Start</button>
</div>